.u-section-1 .u-sheet-1 {
  min-height: 396px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 162px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 162px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 162px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 16px auto 0 16px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1rem;
  margin: -32px auto 0 247px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 134px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 134px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 52px;
    margin-left: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 0;
    margin-left: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2954px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 88px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 88px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 229px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 24px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -88px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 50px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 687px;
}

.u-section-2 .u-text-1 {
  margin: 44px auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 44px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 248px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  --gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-1 {
  --radius: 30px;
  min-height: 194px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 28px;
  padding-right: 28px;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-2 {
  --radius: 30px;
  min-height: 194px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 28px;
  padding-right: 28px;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-3 {
  --radius: 30px;
  min-height: 194px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 28px;
  padding-right: 28px;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-4 {
  --radius: 30px;
  min-height: 194px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 28px;
  padding-right: 28px;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 22px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 97px;
  right: 10px;
}

.u-section-2 .u-list-2 {
  margin-top: 1px;
  margin-bottom: 59px;
  height: auto;
}

.u-section-2 .u-repeater-2 {
  min-height: 248px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  --gap: 10px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-5 {
  --radius: 30px;
  min-height: 194px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 28px;
  padding-right: 28px;
}

.u-section-2 .u-text-10 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-6 {
  --radius: 30px;
  min-height: 194px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 28px;
  padding-right: 28px;
}

.u-section-2 .u-text-12 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-7 {
  --radius: 30px;
  min-height: 194px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-14 {
  padding-left: 28px;
  padding-right: 28px;
}

.u-section-2 .u-text-14 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-15 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-8 {
  --radius: 30px;
  min-height: 194px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-16 {
  padding-left: 28px;
  padding-right: 28px;
}

.u-section-2 .u-text-16 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-17 {
  margin: 22px 0 0;
}

.u-section-2 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 97px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-list-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 91px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 20px;
    margin-bottom: 59px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    margin-top: 98px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -13px;
    margin-bottom: 55px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 470px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 38px;
  background-image: none;
  --radius: 25px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 394px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 56px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 16px auto 0 30px;
  padding: 13px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -44px 105px 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 44px auto 0 30px;
  padding: 13px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -44px 117px 0 auto;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 44px auto 0 30px;
  padding: 13px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -44px auto 0 124px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 372px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 66px;
  margin: 33px auto 0;
}

.u-section-3 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 35px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-text-4 {
  margin: 49px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 16px 30px 0 auto;
  padding: 13px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -44px 124px 0 auto;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 44px 30px 0 auto;
  padding: 13px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -44px auto 0 109px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 44px 30px 0 auto;
  padding: 13px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -44px auto 0 119px;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 30px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 38px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 75px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -41px;
    margin-right: 50px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 61px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 117px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 450px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 36px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: auto;
    margin-left: 86px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 75px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 64px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 25px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -44px;
    margin-right: 5px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 64px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 73px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 278px;
    height: 69px;
    margin-top: 100px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 56px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 82px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 37px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 139px;
    margin-right: 37px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 37px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -36px;
    margin-right: 105px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 117px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 124px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 360px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 39px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 124px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 55px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 109px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 50px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -39px;
    margin-right: 119px;
    margin-left: auto;
  }
}